/* GENERAL */
.subheader{    
    font-weight: 500;
    font-size: 35px;
    color: #707070;
    margin-left: 5px;
    margin-top: 10px;
}
.logo{
    width: 50vw;
}

/* EVENT PAGE */

.add-event-icon{
    position: absolute;
    top: 7%;
    right: 5%;
}

/* EVENT CARD */
.event-grid{
    position: relative;
    display: flex;
    align-items: center;
}
.expand{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    
}
.selectedIcon{
    transition: 1s;
    transform: rotate(180deg)
}
